[2014-03-12 15:53] jrgnicho opened #1 "Add project name prefix to all packages"
rename packages.

[2014-03-12 21:48] jrgnicho commented on #1
renamed packages and files

[2014-03-12 21:48] #1 closed, assigned to jrgnicho

[2014-03-12 22:10] shaun-edwards opened #2 "Add license text to header"
Every source/header file should have the proper license text.  For this project, Apache 2.0 should be the default license.

[2014-03-12 22:58] jrgnicho commented on #2
+1

[2014-04-17 18:06] jrgnicho opened #3 "Using deprecated motoman xacro file"
The sia20d_workspace.xacro file uses a xacro file from the deprecated "motoman_config" package; this needs to be changed to the new "motoman_sia20d_support" hydro package . See comments in commit a0ba37155c01b7084a60b5e504fdf00c07c94e44.

[2014-05-01 20:32] phvass opened #4 "Provide launch instructions to run godel_surface_detection"

[2014-05-26 13:21] dpsolomon opened #13 "Create check_polygons functions"
Need functions to check that a single polygon is well formed (non intersecting, 3+ sides) and that groups of polygons don't intersect each other.  Should be utilized to check polygons on input, and return from polygon_offset service.

[2014-05-26 13:23] dpsolomon opened #14 "Check return from polygon_offset service"
Must check polygons returned from offset service for correctness. Should utilize #13 work for polygon checks. Additionally, number of polygons and offsets should be compared.

[2014-05-28 18:46] jrgnicho commented on #3
+1

[2014-06-06 05:48] jrgnicho opened #20 "mesh importer throws an assertion failure when it receives surfaces produced from surface detection"
After the process path request is sent to the surface_detection_server node from the gui, the following assertion message is shown:
Failed to find match for field 'intensity'.

[code]

After this error the entire node exits.
In order to reproduce this error run the following in a terminal

[code]

This will bring up rviz with the blending widget already running.
Next, set the desired number of sca

[2014-06-06 05:50] jrgnicho opened #21 "Holes on the triangulated surface meshes"
The current triangulation method (greedy triangulation) produces triangulated surfaces with one or more holes.

[2014-06-06 05:53] #3 closed, assigned to jrgnicho

[2014-06-06 14:44] jrgnicho opened #22 "Application parameters should be passed through their own service"
Each service (robot scan, surface detection and process path) has its own group of parameters relevant to that task.  The current approach to pass the initial parameters to the gui  (or any node that requests them) calls the service which is meant to handle another specialized task.  Therefore, the task of passing default or current parameter values made into its own service since it is a separate

[2014-06-06 20:25] #20 closed, assigned to dpsolomon

[2014-06-06 20:25] dpsolomon commented on #20
Fixed in pull request #23

[2014-06-06 20:27] dpsolomon commented on #13
Fixed in pull request #18

[2014-06-06 20:27] #13 closed, assigned to dpsolomon

[2014-06-06 20:28] dpsolomon commented on #14
Fixed in pull request #18

[2014-06-06 20:28] #14 closed, assigned to dpsolomon

[2014-06-06 20:30] dpsolomon commented on #4
Fixed in commit 39c189bee2b62379644256d87ef03dfcf617adc9

[2014-06-06 20:30] #4 closed, assigned to nobody

[2014-06-06 20:32] dpsolomon commented on #2
I think my code is OK, and from what I can tell Jorge's is as well. @jrgnicho Do you know of any source code that still has this issue?

[2014-06-07 21:08] dpsolomon opened #24 "openvoronoi offset node crashing"
After commit aa0b7541c7143b7478b78046e8229e2bb787be6a open voronoi offset being called, but failing on different assertions depending on the data. Will have to investigate, and probably check/condition input to function.

[2014-06-09 21:10] jrgnicho opened #26 "Add SAC plane surface approximation parameters to existing messagefile"
These parameters are used by the SurfaceDetection class during the sac plane approximation stage to integrate points that were ignored during the region grouping stage into the surface clusters.
- Add the sac plane approximation parameters to the SurfaceDetectionParameters.msg message.
- Replace current program variables involved in this calculation in the SurfaceDetection class and replace with t

[2014-06-13 04:32] dpsolomon commented on #2
Pretty sure this is all taken care of

[2014-06-13 04:32] #2 closed, assigned to jrgnicho

[2014-06-13 04:33] dpsolomon commented on #24
No longer crashes because only good data is sent.
Need to add try-catch in node to protect node from crashing from exception in openvoronoi

[2014-06-13 04:34] dpsolomon opened #30 "Delete old branches"
Once #29 is pulled, branches issue_22 and issue_26 can be deleted

[2014-06-13 14:53] jrgnicho commented on #24
The following console printout was produced after sending a process path request from the gui:

[code]

Then the 'godel_polygon_offset_node' crashes and all subsequent process path request fail

[2014-07-29 16:35] jrgnicho opened #31 "Add valid extrinsic calibration parameters"

[2014-07-31 18:24] jrgnicho commented on #26
+1

[2014-07-31 18:24] #26 closed, assigned to jrgnicho

[2014-07-31 18:24] jrgnicho commented on #22
+1

[2014-07-31 18:24] #22 closed, assigned to jrgnicho

[2014-08-03 18:47] shaun-edwards opened #32 "Installation Instructions missing"
Could we add installation instructions to the main readme?  Simply downloading the git repo results in:

[code]

[2014-08-03 19:15] dpsolomon commented on #32
There are detailed instructions in the individual packages readme files. These could be copied into the main readme, but I think they should just be referenced because it's more likely they will get updated in the package readme then at the top level.

[2014-08-04 00:48] shaun-edwards commented on #32
Done.  Updated references in 00d6b880058865338269a7cc6eccec50171c6494

[2014-08-04 00:48] #32 closed, assigned to jrgnicho

[2014-08-04 06:58] gavanderhoorn opened #33 "Provide suitably patched & build openvoronoi pkgs"
Just an idea: seeing as the versions in the Ubuntu repositories cannot be used, you might consider releasing a version that does work, and set it as a system dependency of the packages. Such a version could then also already include the patch to `offset_sorter.hpp`. It's also nicer to not circumvent the package manager on a lot of distributions, even if things end up in `/usr/local/`.

There are s

[2014-08-05 14:28] shaun-edwards commented on #30
Branched deleted some time ago.

[2014-08-05 14:28] #30 closed, assigned to nobody

[2014-08-05 14:38] shaun-edwards commented on #24
What's the status on this one....open or close?

[2014-08-05 14:42] shaun-edwards commented on #33
I'll let @phvass determine the priority.  I think one of these options should be the end goal of milestone 2.  This would make it very easy download/install the FIRST ever completed ROS-I FTP. ;)

[2014-08-07 02:22] dpsolomon commented on #24
Good find Jorge! So...is this closed?

[2014-08-07 03:04] jrgnicho commented on #31
@shaun-edwards  please review PR #34

[2014-08-07 03:05] jrgnicho commented on #24
Once the PR #34 is approved and merge onto the hydro-devel branch it will be a closed issue.

[2014-10-19 18:00] gavanderhoorn commented on #33
If newer versions of `openvoronoi` are actually usable (and have been released in newer (> 12.04) versions of Ubuntu), using `backportpackage` might be an easy way to produce a backported deb. See [backportpackage - helper to test package backports](http://manpages.ubuntu.com/manpages/precise/man1/backportpackage.1.html) for the manpage, and [How to backport packages on Ubuntu Linux](http://openso

[2014-10-22 07:03] gavanderhoorn commented on #33
These repositories might also be interesting:
- [ethz-asl/ceres_catkin](https://github.com/ethz-asl/ceres_catkin)
- [ethz-asl/suitesparse](https://github.com/ethz-asl/suitesparse)
- [ethz-asl/glog_catkin](https://github.com/ethz-asl/glog_catkin)
- [ethz-asl/gflags_catkin](https://github.com/ethz-asl/gflags_catkin)

Although these are catkin wrappers, as opposed to a system wide installation of Cer

[2014-12-17 10:49] gavanderhoorn opened #36 "Missing dependency on cmake_modules"
The packages that depend on Eigen seem to call `find_package(Eigen ..)` without first declaring a dependency on the `cmake_modules` package. This is not a problem on Hydro, as the file is provided by another (automatically imported) package. It is however an issue on Indigo (see [indigo/Migration - cmake_modules](http://wiki.ros.org/indigo/Migration#cmake_modules)).

I realise godel is (probably)

[2014-12-18 19:50] #36 closed, assigned to nobody

[2014-12-18 19:55] gavanderhoorn commented on #33
I think option 2 makes the most sense for now, perhaps even as a `ros-hydro-godel-openvoronoi`. As soon as upstream is fixed / patched / updated the dependency can be changed to the upstream release (provided the needed `rosdep` rules exist).

[2014-12-19 02:45] shaun-edwards commented on #33
Is there a chance that newer versions in `indigo`/`14.04` can be more easily deployed?

[2014-12-19 07:52] gavanderhoorn commented on #33
I don't see how 14.04 will help here: the [PPA](https://launchpad.net/~anders-e-e-wallin/+archive/ubuntu/cam) only has pkgs up to Quantal. In addition, they are lagging behind the github repo. I cannot find an `openvoronoi` package in the official Trusty repositories (or for any Ubuntu version).

Option 2 allows one to checkout godel from source and a single `catkin_make` will build everything. If

[2014-12-19 08:45] gavanderhoorn commented on #33
Submitted `rosdep` rules for `libqd-dev` in ros/rosdistro#6599.

[2015-01-09 08:51] VictorLamoine opened #38 "Surface blending service dies"
I tested godel on different hardware configurations and on one configuration the node always crashes at start:
[code]
[logs](https://mega.co.nz/#!VUMhlbzZ!Cx68dR4FuyN7wLgKIenKTSA2PUBmDYvOqkZlIVBBA3o)

Hardware
---
[code]

Any idea why this happens?

[2015-01-14 04:17] shaun-edwards commented on #38
@VictorLamoine, I need some more info.  Which node crashes?  What log message is output to the terminal (it's easier to parse this message than the log files you attached).

[2015-01-14 10:45] VictorLamoine commented on #38
Here is a `stdout` log example, the node `surface_blending_service` is crashing; RViz is launching but the `RobotBlendingPanel` panel is grayed out

[code]

[2015-01-14 10:48] gavanderhoorn commented on #38
Can you run `surface_blending_service` in GDB? See [How to Roslaunch Nodes in Valgrind or GDB](http://wiki.ros.org/roslaunch/Tutorials/Roslaunch%20Nodes%20in%20Valgrind%20or%20GDB) for how to do this.

That would give us a stack trace, and possibly somewhere to begin searching.

It may be necessary to rebuild `surface_blending_service` with the `Debug` or `RelWithDebInfo` CMake profiles.

[2015-01-14 10:50] gavanderhoorn commented on #38
Not related, but just noticed this:

You might want to take care of that (only needed once).

[2015-01-14 12:45] shaun-edwards commented on #38
In addition, you mentioned the node only crashes on one of multiple hardware configurations.  Out of curiosity is the one that is crashing a 32bit machine (vs. 64 bit)?

[2015-01-14 13:08] AnthonyBaup commented on #38
I work with VictorLamoine.

It crashes on a 64bits machine.
After using gdb it seems the problem comes from pcl :

[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/x86_64-linux gnu/libthread_db.so.1".

Program received signal SIGSEGV, Segmentation fault.
0x00007ffff3fafc50 in boost::math::lanczos::lanczos_initializer<boost::math::lanczos::lanczos17m64, long doubl

[2015-01-14 14:27] gavanderhoorn commented on #38
@AnthonyBaup: could you provide us with a backtrace (`bt <enter>` at the gdb prompt after it has crashed)?

[2015-01-14 14:36] AnthonyBaup commented on #38
@gavanderhoorn I tried to reinstall pcl from source (1.8)
then I recompiled my workspace (godel CMakeList.txt has been modified to use PCL 1.8 and not 1.7 as before) and it worked.
There are no more errors using blending service.
Of cource, I don't have the segmentation fault using gdb anymore.

[2015-01-14 15:11] VictorLamoine commented on #38
@AnthonyBaup Please test with PCL release 1.7.2 as well (compile it from sources [here](https://github.com/PointCloudLibrary/pcl/releases/tag/pcl-1.7.2))

PCL 1.7.1 is not the current release, current is 1.7.2.
The error is on PCL side so I guess this can be closed?

[2015-01-14 15:14] gavanderhoorn commented on #38
Lets first make sure it was actually an ABI (?) issue.

[2015-01-14 16:04] VictorLamoine commented on #38
[code]

We are not sure yet but our tests shows that using `libpcl-all` produces the seg fault, using `libpcl-1.7-all` solves it. (PCL trunk works too)

[2015-01-14 16:13] AnthonyBaup commented on #38
https://github.com/PointCloudLibrary/pcl/issues/619

[2015-01-14 16:14] VictorLamoine commented on #38
I 'm pretty sure the problem is that the code is compiled with C++11 enabled and PCL has an issue with it's binaries and C++11 (see PointCloudLibrary/pcl#619)

Compiling PCL and linking to that compiled version solves the problem.

[2015-02-02 18:33] jrgnicho commented on #21
The changes introduced by PR #34 momentarily address this issue by computing the convex hull of the surfaces prior to triangulation. This allows the process path generator node to generate paths since it now receives well behaved meshes; It would crash otherwise. The problem with this approach is that the convex hull approximation discards features of interest in the part that should be taken into

[2015-02-13 08:09] #38 closed

[2015-02-17 20:06] jrgnicho opened #41 "Unnecessary octomap_ros dependency"
There is abandoned surface detection code that relies on the octomap library. As of now, all surface analysis is done with pcl functions since they yields significantly better results.  Thus the octomap code/dependencies need to be removed.

[2015-02-17 20:42] gavanderhoorn opened #42 "polygon_offset: stray --> in package manifest"
As per title (see [package.xml](https://github.com/ros-industrial-consortium/godel/blob/f8ced9d51e4d914d4c3bbbec8b743b81b1d47e08/godel_polygon_offset/package.xml#L10)).

[2015-02-17 22:53] jrgnicho commented on #42
+1

[2015-02-17 22:54] #42 closed

[2015-02-19 09:10] gavanderhoorn commented on #33
@phvass: is this something we want to fix? There are several options, all of which are (imho) preferable to manually downloading and building `openvoronoi`.

[2015-02-19 12:37] gavanderhoorn opened #47 "keyence_driver: published point clouds have 'made up' timestamp"
Point clouds published by the driver node have a timestamp, but it is set to the time at which the conversion from *profile data* to Point cloud began (see [driver.cpp, L514](https://github.com/ros-industrial-consortium/godel/blob/2d99b98ee912c1d320aead2b24563cff83cec087/godel_keyence_ljv_driver/src/driver.cpp#L514)).

For accurate matching of profiles against TF data, it is probably necessary to

[2015-02-19 16:43] phvass commented on #33
Gijs, If you see things in Godel that need fixing, feel free to proceed up to your 8hr limit/week. Thanks!
Paul

[2015-02-23 21:44] gavanderhoorn commented on #33
@gavanderhoorn wrote:

Opted for a 5th option: fork `openvoronoi`, add minimal `package.xml` and replacement `CMakeLists.txt`, then make relevant packages in `godel` depend on `godel_openvoronoi` (the wrapped `openvoronoi` project). See [gavanderhoorn/godel_openvoronoi/hydro-devel](https://github.com/gavanderhoorn/godel_openvoronoi/tree/hydro-devel) and [gavanderhoorn/godel/depend_on_wrapped_openv

[2015-02-23 21:46] gavanderhoorn commented on #33
Opinions?

[2015-02-24 14:19] shaun-edwards commented on #33
+1 to forking. Can we capture the update procedure in the README?

On Monday, February 23, 2015, G.A. vd. Hoorn notifications@github.com
wrote:

##

Sent from Gmail Mobile

[2015-02-24 14:25] gavanderhoorn commented on #33
Sure.

I'll submit a PR.

[2015-02-24 14:31] gavanderhoorn commented on #33
Btw: I didn't want to go for option 2 (release as [3rd-party non-catkin pkg](http://wiki.ros.org/bloom/Tutorials/ReleaseThirdParty)), as a (I think) project-specific patch is applied to `openvoronoi`, and I wouldn't like to release a non-upstream version of `openvoronoi` as a ROS pkg then.

[2015-03-03 08:45] gavanderhoorn opened #50 "surface_detection: non-existing build_dependency on 'pcl'"
This results in:
[code]

upon invoking `rosdep check ..`.

There is no ROS pkg or system dependency called `pcl`. I think the proper dependency would be `pcl_ros` (as that automatically pulls in `libpcl-all-dev` as well, on both Hydro and Indigo).

[2015-03-05 17:46] jrgnicho commented on #50
This will be addressed in PR #49 since this correction is needed in order to have a valid install procedure.

[2015-03-06 08:43] gavanderhoorn commented on #33
I think this can be closed when #49 has been merged.

[2015-03-06 15:41] jrgnicho commented on #33
+1 for closing after merging #49

[2015-03-07 15:13] gavanderhoorn opened #51 "surface_detection: missing dependency declaration on motoman_sia20d_support"
As per subject.

The pkg manifest does not list the `motoman_sia20d_support` pkg as a (run) dependency, but the `robot_blending.launch` does (ultimately) depend on it (through `godel_sia20d_moveit_config`).

[2015-03-09 14:58] #51 closed

[2015-03-10 15:37] gavanderhoorn commented on #50
#49 was merged in ed26f1c and included the fix mentioned by @jrgnicho, so this can be closed.

[2015-03-10 15:37] #50 closed

[2015-03-10 15:37] gavanderhoorn commented on #33
Closing this, as #49 has been merged.

[2015-03-10 15:37] #33 closed

[2015-03-21 15:47] VictorLamoine opened #53 "Installation instructions not complete"
On a "fresh" Ubuntu install I get these errors:

[code]
[code]
[code]

[code]

[2015-03-21 15:54] VictorLamoine commented on #53
Also, QD is still needed; (`libqd-dev`)

[code]

[2015-03-21 16:09] gavanderhoorn commented on #53
Because of the error while trying to resolve `console_bridge`, `rosdep` hasn't installed all dependencies. That is why `libqd-dev` hasn't been installed (and potentially many others neither).

Can you try `rosdep --skip-keys=console_bridge install ..`? That should let it continue with the rest of the dependencies.

[2015-03-21 16:11] gavanderhoorn commented on #53
Also, this pkg is not part of the `godel` repository. It's rather strange that `rosdep` isn't able to resolve that dependency, because it has been released.

On my system:

[code]

Perhaps do a `rosdep update`?

[2015-03-21 16:13] gavanderhoorn commented on #53
In general, to get `rosdep` to continue if it encounters errors, you can use the `-r` option.

[2015-03-21 16:23] gavanderhoorn commented on #53
Ah. On an Indigo system, the ABB pkgs haven't been released, so you'll get that error. `console_bridge` seems to have been released though?

[2015-03-23 15:45] VictorLamoine commented on #53
We got it working by skipping the missing dependencies :+1:
In short we just changed
`rosdep install --from-paths . --ignore-src`
to
`rosdep install --from-paths . --ignore-src -r`

Should I close this issue? It's clearly `indigo` related

[2015-03-23 15:47] shaun-edwards commented on #53
We will keep it open to address in Indigo.  This way we won't forget.

[2015-03-23 15:47] gavanderhoorn commented on #53
I'm not so sure. If we ignore the `abb_common` issue (which is not part of Godel), only `console_bridge` seems to give you problems. Afaict, it has been released in Indigo, so I don't get why you can't resolve it using `rosdep`.

What does `rosdep resolve console_bridge` give you (after a `rosdep update`)?

[2015-03-23 16:47] VictorLamoine commented on #53
[code]

Neither of them can be resolved:

[code]

[code]

[2015-03-23 17:06] gavanderhoorn opened #54 "console_bridge not a valid dependency in Indigo"
As reported in #53, `rosdep` cannot resolve `console_bridge` to any ros pkg or system library.

If this dependency is still needed for Godel, we should probably change the dependency to `libconsole-bridge-dev` (as suggested by [wiki/console_bridge](http://wiki.ros.org/console_bridge)).

[2015-03-23 17:08] gavanderhoorn commented on #53
As I wrote earlier, the `abb_common` one is to be expected, as it has not been released yet on Indigo.

`console_bridge` does actually not exist (anymore) on Indigo, so that should be fixed. I've created a separate issue for that.

@VictorLamoine: can you confirm that the `console_bridge` key was the only one giving you trouble on your Indigo system?

[2015-03-23 17:15] gavanderhoorn commented on #53
Hm just checked this myself. The following pkgs also couldn't be resolved (but expected, as they haven't been released yet): `simple_message` (and all dependencies), `motoman_sia20d_support` (and all dependencies).

For now a clone of `motoman` and `industrial_core` should let users continue.

@jrgnicho, @shaun-edwards: perhaps those pkgs should be temporariliy added to `godel.rosinstall`? Or do w

[2015-03-23 17:28] VictorLamoine commented on #53
Yes

I've not seen that because I already have clones of `industrial_core` (for `fanuc`) and `motoman` (for `fermi`)

[2015-03-23 17:49] jrgnicho commented on #54
The error log in #53 only showed unresolved console_bridge dependencies from descartes.  This was already addressed [here](https://github.com/ros-industrial-consortium/descartes/pull/72) .  So there shouldn't be any **console_bridge** dependencies there as far as I know.  I don't think that godel depends directly on **console_bridge** either.

[2015-03-23 17:54] gavanderhoorn commented on #54
I know PR#72 on Descartes, but I encountered the same errors while testing out the build instructions on Indigo. That's why I reported the issue. I'll test this again later and report back.

[2015-03-23 17:57] jrgnicho commented on #53
Where the **console_bridge** dependency errors coming from any godel packages or from others repos listed in the .rosinstall file (descartes and godel_openvoronoi) ?

[2015-03-23 18:02] gavanderhoorn commented on #54
My only excuse is that it's already 'late' here :). No `rosdep check ..` errors about `console_bridge` in a clean workspace at all.

Sorry for the noise.

[2015-03-23 18:02] #54 closed

[2015-03-23 18:05] gavanderhoorn commented on #53
Just retested, no pkgs in `godel` (or any of its direct dependencies) depend on `console_bridge` anymore (after ros-industrial-consortium/descartes#72). So I guess @VictorLamoine was using an out-of-date clone of `descartes`?

[2015-03-23 21:34] VictorLamoine commented on #53
I don't think so; I've done a `wstool update`

I've just tested in a clean workspace and it works fine (I manualy cloned `motoman` and `industrial_core`)

[2015-03-24 00:46] jrgnicho commented on #53
I suppose that `wstool update` might have not worked correctly due to existing artifacts in the workspace.  I've haven't seen it fail this way but then again I'm not that well verse in **wstool** myself.

[2015-03-24 00:49] jrgnicho commented on #54
Not a problem.  However it did expose dependency issues (industrial_core and motoman) which will have to be addressed when migrating to indigo.

[2015-03-24 07:49] gavanderhoorn commented on #53
@jrgnicho: could be that `wstool` won't touch existing clones of repositories. @VictorLamoine: did you already have a manual clone of `descartes` in the problematic workspace?

[2015-03-24 07:52] gavanderhoorn commented on #54
Yes. Well `industrial_core` is being released into Indigo, so that should not pose any problems anymore.

The `motoman` pkgs won't either, as soon as they are released. For now we could think about adding `motoman` to `godel.rosinstall`. We can always remove it once `motoman` is released.

Only potential issue could be with users that do the setup once -- and then have a `motoman` clone in the god

[2015-03-24 08:42] VictorLamoine commented on #53
That is possible unfortunately I deleted everything `godel` related to test from zero so I don't have this info anymore.

As said just before the only thing missing are the `motoman` and `industrial_core` packages; which I have in my workspace to compensate.

Everything works fine with the instructions now except the fermi / abb_common dependency; but it has nothing to do with `godel`. (and the `-

[2015-03-24 15:19] FrancoisLasson opened #55 "Surface selection issue"
Beginner with Godel,
I'm trying to use the godel_surface_detection package.

I launch : $ roslaunch godel_surface_detection robot_blending.launch
and I try to « Scan and Find » some surfaces.

Even though "Selected surface clusters" are found, I don't succeed in select these surfaces.
Could you explain me the solution to select them?

log files : https://mega.co.nz/#!BYAVSZha!zYmWa4sig1CgIwDRZehJv

[2015-03-25 14:13] Jmeyer1292 commented on #55
I'll look into this issue today.

[2015-03-25 19:26] Jmeyer1292 commented on #55
There's a missing return statement on here:
https://github.com/ros-industrial-consortium/godel/blob/hydro-devel/godel_surface_detection/src/detection/surface_detection.cpp#L833-L834

It should have "return true" before the closing brace of the function. Try it out and let me know. This will be fixed in pull requests I'm working on right now.

[2015-03-25 20:58] jrgnicho commented on #53
Can this issue be closed?

[2015-03-25 21:05] VictorLamoine commented on #53
Until the `motoman` and `industrial_core` "problems" are solved, we'll keep this issue open as a reminder.

[2015-03-25 21:24] jrgnicho commented on #53
Perhaps we should close this one a create a new one that describes the indigo dependencies issue more specifically?

[2015-03-26 09:20] FrancoisLasson commented on #55
Your solution fixes the problem. From now on, all surfaces can be selected.
Thank you.

![capture du 2015-03-26 10 22 01](https://cloud.githubusercontent.com/assets/11289891/6843316/fc0dd6aa-d3a1-11e4-8d0c-61656806e2e2.png)

[2015-03-26 10:06] FrancoisLasson opened #56 "Generate paths on 3D plans"
I'm working with @VictorLamoine, I need to generate paths for surfacing on 3D surfaces.
For instance, this kind of surface:

![capture du 2015-03-26 10 50 25](https://cloud.githubusercontent.com/assets/11289891/6843752/f6cf93c8-d3a5-11e4-8a9e-658b86992c67.png)

Does anyone know if Godel is a good way for us?
Is it possible to generate trajectories on 3D surfaces with Godel?
For what we understood,

[2015-03-30 11:05] gavanderhoorn commented on #53
I agree with @jrgnicho: it would be better to create a new issue.

For the current one, we might want to consider updating the instructions in the `README.md` with some of the comments posted (ie: what to do for missing `rosdep` keys (non-released pkgs fi)). Question is: how much should we fool-proof the instructions?

[2015-03-30 11:22] VictorLamoine opened #58 "Update installation instructions for indigo"
Related: #53

`motoman` and `industrial_core` packages have not been released to `indigo`.
When trying to compile godel with ros-indigo these packages are missing.

Manually cloning the two packages in the cartkin workspace solves the problem.

[2015-03-30 11:22] #53 closed

[2015-06-16 03:30] sketchc89 opened #62 "Update installation instructions for jade"
Related #53 #58

`rosdep install --from-paths . --ignore-src -r`

Gets past qd dependency like in #53 but move-it dependencies cause errors in godel path planning
[code]

Reverting back to indigo since it looks like jade-moveit is still in development. Issue posted to log dependency issues for jade more specifically.

[2015-06-16 07:23] gavanderhoorn commented on #62
According to [debbuild/jade?q=moveit](http://www.ros.org/debbuild/jade?q=moveit), both `moveit_ros_visualization` and `moveit_ros_planning_interface` seem to have been released for Jade.

Looking at the status 'blocks' though, it looks like only the Trusty targets have been built successfully. On what OS are you running the `rosdep install ..` command?

[2015-06-17 00:56] sketchc89 commented on #62
Ubuntu 15.04 vivid. I've since reinstalled 14.04 for stability. I didn't read Indigo wasn't supported on 15.04 before installing it. It may be the packages weren't available for 15.04 yet. I couldn't find them in the ppa on the [Jade install page](http://wiki.ros.org/jade/Installation/Ubuntu).

[2015-06-17 06:51] gavanderhoorn commented on #62
@sketchc89 wrote:

ah k. That would seem to explain the `rosdep` output then.

Yes, Indigo is supported on Trusty and Saucy (see also [REP-003](http://www.ros.org/reps/rep-0003.html#indigo-igloo-may-2014)) only. For Jade, those pkgs are indeed missing at the moment. It might perhaps be an idea to report this to the maintainers of those pkgs?

[2015-06-17 14:54] sketchc89 commented on #62
Yeah, that'll work.

[2015-07-07 08:20] FrancoisLasson commented on #56
This note closes my issue :
Godel is able to generate 3D trajectories on oriented plane surfaces (2D surfaces). Yet, it's not feasible on complex 3D surfaces (as above).

François Lasson.

[2015-07-07 08:20] #56 closed

[2015-07-28 20:14] #24 closed

[2015-12-21 17:06] Jmeyer1292 commented on #55
@jrgnicho This should be closed.

[2015-12-21 17:07] Jmeyer1292 commented on #55
Addressed by #65. Thank you for bringing this issue to light.

[2015-12-21 17:08] jrgnicho commented on #55
Address in #65

[2016-01-07 19:00] Jmeyer1292 commented on #58
I believe that `industrial_core` has now been released on Indigo. We have addressed the `motoman` issues in #71.

Is this okay to close?

[2016-01-07 19:01] #55 closed

[2016-01-07 19:23] #58 closed

[2016-01-14 21:23] Jmeyer1292 opened #82 "Godel Msgs: Service Names"
In #68, it was agreed that many of the service names in `godel_msgs` were not "action oriented". I.e, `KeyenceProcessExecution` should become `ExecuteKeyenceProcess`.

[2016-01-14 21:25] Jmeyer1292 opened #83 "godel_msgs: Unused/Inconsistent Parameters"
Many of the velocity parameters in the blend and scan parameter messages are:
 1. Inconsistently named (some used abbreviations and others do not)
 2. Not used at all

Many of the parameters in the surface detection parameter msg have also changed or been eliminated entirely.

[2016-01-14 21:26] Jmeyer1292 opened #84 "godel_msgs: Return Codes"
Many of the services defined in `godel_msgs` do not currently have any defined return codes that can differentiate among the many ways that planning and execution might fail.

See #68.

[2016-01-14 21:29] Jmeyer1292 opened #85 "godel_process_planning: Planning Utility Functions / Descartes"
See #69. Many of the utility functions inside `godel_process_planning`, including interpolation code, translation to/from ROS trajectories, and others really belong inside of a `descartes_utils` package.

[2016-01-14 21:34] Jmeyer1292 opened #86 "godel_scan_analysis: Fixed Scan Method and Scoring"
The current implementation of `godel_scan_analysis` is lacking a few ways:
 1. Despite having a message full of scan analysis parameters, we're not currently using them to any effect.
 2. The scan analysis has no concept of jobs, so it continues to collect data every time the laser scanner runs. This uses lots of memory and can create overlapping geometry if a part is swapped out before the system

[2016-01-14 21:38] Jmeyer1292 opened #87 "godel_simple_gui: Save Parameters"
Currently, the `godel_simple_gui` has not implemented the methods necessary to save/load parameters.

[2016-01-14 21:52] Jmeyer1292 opened #88 "Naming Issues in godel_simple_gui and godel_plugins"
The Godel GUI elements don't use ROS-standard naming conventions in many of their internal components.

[2016-01-14 21:54] Jmeyer1292 opened #89 "Tab Spacing in Many Godel Components"
Much of the original Godel code was created with non-conforming indentation. All of these file should be converted to spaces in one pull request that makes no functional changes.

[2016-01-14 21:57] Jmeyer1292 opened #90 "godel_surface_blending: Parameter loading/caching"
For the sake of the big PR process, I removed the parameter loading/saving/caching logic that I had previously implemented in favour of something simpler and more effective. This needs to be added.

Parameters should be saved to disk and loaded on start-up, if available, to create a persistent experience for users.

[2016-01-14 22:03] Jmeyer1292 opened #91 "godel_robots"
The `godel_robots` directory houses the various robot configurations that are currently supported. As mentioned by @VictorLamoine in #81, it will probably be necessary to split this package off at some point.

[2016-01-15 21:47] #89 closed

[2016-01-15 22:05] Jmeyer1292 commented on #90
Addressed in #92. There are some outstanding issues, but I'll add them in a new issue.

[2016-01-15 22:05] #90 closed

[2016-01-15 22:06] Jmeyer1292 commented on #41
As of #93, we have eliminated the octomap dependency.

[2016-01-15 22:06] #41 closed

[2016-01-15 22:07] Jmeyer1292 commented on #21
Changes made in the integration with Milestone 3 code (see #93) have introduced a new method of triangulation that does not suffer from holes. However, we have not removed the convex hull operation to match. That will be addressed in a separate issue.

[2016-01-15 22:07] #21 closed

[2016-01-15 22:11] Jmeyer1292 opened #95 "Godel Parameter Caching Invalidation"
Currently the Godel system uses ROS serialization libraries to write ROS messages, which consitute a set of parameters, to the user's system disk. While useful, the system is not human readable and will likely break as the messages themselves are changed.

Ideally, we'd implement some kind of versioning ontop of the existing system. At the very least, some documentation about this system behaviour

[2016-01-15 22:17] Jmeyer1292 opened #96 "Convex Hull of Surfaces"
Per discussion in #21, at some point a convex hull operation was added to all candidate surfaces in order to improve meshing. Later pull-requests have fixed meshing, but the convex hulls remain. For parts with concave features, this can lead to the tool dropping right off of the surface.

[2016-01-24 22:17] chenchengshao opened #97 "Indigo rosdep error when execute rosdep install --from-paths . --ignore-src"
Version: unbutu 14.04 trusty   Indigo ROS system.
Command: `rosdep install --from-paths . --ignore-src`

Return:

[code]

[2016-01-25 15:53] Jmeyer1292 commented on #97
Thanks for bringing this to my attention, I'll add the appropriate dependency on industrial_extrinsic_cal. In the mean-time, if you clone the`indigo-devel` branch of [this repo](https://github.com/ros-industrial/industrial_calibration.git), you should be able to make progress.

[2016-01-25 17:04] Jmeyer1292 commented on #97
@chenchengshao We have elected to forgo the dependency on industrial calibration at the moment to ease the installation process for those just getting into the project. See #98.

Please let us know if you have more issues.

[2016-01-25 21:12] chenchengshao commented on #97
Thank you Jmeyer1292, I already tried to use rosdep install -r --from-paths . --ignore-src to ignore this error and also install the abb separately, it should have the same result as the new solution you posted.

[2016-01-25 21:22] #97 closed

[2016-02-12 13:20] jettan opened #99 "Missing line in CMakeLists.txt causes packages to not build with catkin tools."
Offending files are:
[code]

The missing line:

[code]

[2016-02-14 07:05] #99 closed

[2016-02-14 08:23] jettan commented on #99
Still missing the line in godel_robots/godel_robot_resources/CMakeLists.txt

[2016-02-14 11:17] gavanderhoorn commented on #99
Pretty sure I added it [here](https://github.com/ros-industrial-consortium/godel/blob/4d3025dd974ad48a05cd1575d6e8ad096be9b2d0/godel_robots/godel_robot_resources/CMakeLists.txt#L4) (via 4d3025dd).

[2016-02-14 11:40] jettan commented on #99
Ah,  my bad then. Didn't see it since 5321918 didn't mention it.

[2016-02-14 11:43] gavanderhoorn commented on #99
I opted to fix each file in a separate commit. So that's why.

[2016-02-14 11:45] gavanderhoorn commented on #99
Thanks for reporting btw.

[2016-04-01 16:35] MahdiehNejati opened #104 "ar"

[2016-04-01 18:20] jrgnicho commented on #104
@MahdiehNejati what issue did you intent to report?

[2016-04-05 08:38] james2254 opened #105 "catkin make error"
When I run catkin_make in the terminal ,there is a error

[code]

what's happen? how can I correct it?

[2016-04-05 09:29] gavanderhoorn commented on #105
Did you follow the installation instructions in the [readme](https://github.com/ros-industrial-consortium/godel/blob/indigo-devel/README.md)?

The error you see is probably caused by a missing `libqd-dev` (needed by `godel_openvoronoi`), which the `rosdep install ..` step in the installation instructions installs for you.

[2016-04-06 07:13] james2254 commented on #105
Thank you , it's correct follow the installation.

[2016-10-28 10:59] phvass commented on #62
Seems like we are planning to skip Jade and move to Kinetic next.

[2016-10-28 10:59] #62 closed

[2016-10-28 11:11] phvass opened #106 "Integrate Ensenso 3D Sensor"
- [x] `Receive sensor data`
- [x] `Calibrate sensor to robot`
- [x] `Update workflow to pause until clean image is captured`

[2016-10-28 11:15] phvass opened #107 "GUI Improvements - Macro Scan"
Improved macro scan interface (drag to teach, with the ability to iterate and show image paths if we're using an accurate but low volume sensor).

[2016-10-28 11:23] phvass opened #108 "Surface Quality Inspection"
- [ ] Improve surface defect analysis including ignoring engineering features
- [ ] Verify surface roughness measurements w/ surface metrology standard

[2016-10-28 11:24] phvass opened #109 "Replanning"
Create service that analyzes surface quality map and segments out portions of surface mesh that need rework.

[2016-10-28 11:35] phvass opened #110 "Edge Processing"
- [x] `Create edge detection procedure for captured clouds`
- [x] `Develop edge detection planner`
- [x] `GUI integration of edge-processor`

[2016-10-28 11:39] phvass opened #111 "Macro-Scan Changes"
- [ ] `Add point-cloud into collision model`
- [ ] `Extract more complex surfaces (sloping surfaces with extrusions or holes)`
- [x] `Recognize "holes" in the macro scan data`

[2016-10-28 11:49] phvass opened #112 "Process Planning"
- [ ] `Add logic to handle transition around, above, into features.`
- [ ] `Add collision checking for entire process plan.`

[2016-10-28 11:52] phvass opened #113 "Trajectory Planning"
Descartes general ease of use and bug fixes.

[2016-10-28 11:53] phvass opened #114 "Line scanner calibration"
Calibrate the laser line scanner to the robot.

[2016-11-08 16:54] phvass commented on #111
@gavanderhoorn - The first item in this list, adding point clouds to the collision model, is in need of early attention to support our upcoming demo. Is that something you could help with?

[2016-11-10 16:22] VictorLamoine commented on #114
If you mean extrinsic calibration -> adding a cost function into `industrial_calibration` I'm very interested in helping you (writing code, testing etc.).

We plan to buy a laser line scanner in the beginning of next year, it is not 100% certain yet.

[2016-11-25 15:24] gavanderhoorn opened #115 "surface_detection: enumeral mismatch in interactive_surface_server.cpp"
According to `gcc`:

[code]

[interactive_surface_server.cpp:164](https://github.com/ros-industrial-consortium/godel/blob/f9e64d963e8769211ef0e69c605f05ba247bebb5/godel_surface_detection/src/interactive/interactive_surface_server.cpp#L163-L164)

[2016-11-25 15:29] gavanderhoorn opened #116 "surface_detection: Quaternion(tfScalar, ..) ctor deprecated in point_cloud_generator_node.cpp"
In [godel_surface_detection/src/nodes/point_cloud_generator_node.cpp](https://github.com/ros-industrial-consortium/godel/blob/f9e64d963e8769211ef0e69c605f05ba247bebb5/godel_surface_detection/src/nodes/point_cloud_generator_node.cpp#L94):

[code]

[2016-11-25 17:10] gavanderhoorn commented on #111
Looks like this should be possible using the normal octomap updater plugin for MoveIt (like [this](https://github.com/ros-industrial-consortium/godel/compare/camera_demo...gavanderhoorn:add_octomap_moveit_descartes)) + updating the planning scene at the appropriate times in Descartes (before planning is started, so `MoveitStateAdapter::isInCollision(..)` uses an up-to-date scene).

@Jmeyer1292: do

[2016-11-28 21:38] gavanderhoorn opened #117 "RViz crashes often on starting 'irb2400_blending.launch'"
Vague, I admit, but often when starting the whole system in demo mode using `roslaunch godel_irb2400_support irb2400_blending.launch` I end up with the following:

[code]

Haven't had time to look into it, but `-11` (`SEGFAULT`) seems to point to a potential issue with one of the RViz panel plugins.

[2016-11-28 22:04] shaun-edwards commented on #117
Is this a Qt5 vs Qt4 issue?  We ran into the same problem when upgrading to kinetic.

[2016-11-29 07:48] gavanderhoorn commented on #117
No. This is all on Indigo. I don't have Qt5 installed.

[2016-11-29 07:48] gavanderhoorn commented on #117
Additionally: it does sometimes work. If this were a library incompatibility it should always crash.

[2016-11-29 16:55] Jmeyer1292 commented on #117
It's a known issue. The blending panels frequently crash at start up. No one has looked into it yet.

Try again until it works.

[2016-11-29 16:57] gavanderhoorn commented on #117
Figured.

I've been running the `rviz` node with a gdb `launch-prefix` for a day now: as expected it hasn't happened yet / any more ..

[2016-11-29 18:49] gavanderhoorn commented on #111
I've got a minimally working implementation. It wasn't entirely clear to me how much change would be acceptable, so the approach I took is not too clean, but perhaps Descartes would need to be changed for that a bit which seems out of scope (at least for now).

See https://github.com/ros-industrial-consortium/godel/compare/camera_demo...gavanderhoorn:add_octomap_moveit_descartes for the Godel diff

[2016-11-29 18:50] gavanderhoorn commented on #111
Note: I'm half-assuming here that point clouds fed to the octomap updater will have already been filtered / segmented. It should work if they are not, but that'll probably be slower.

[2016-11-30 12:02] gavanderhoorn commented on #111
Note also that I had to change `abb_irb2400_descartes` and make the `getAllIk(..)` override in it call `isValid(..)`, instead of doing the bounds check itself. As IK-solving and collision checking are done in the same place/phase, I don't see a way around that without changing how Descartes works.

[2016-11-30 21:28] gavanderhoorn commented on #111
See #119 and ros-industrial-consortium/descartes#187.

[2017-01-05 23:23] phvass opened #122 "3D Scan Data Filtering and Patching"
We desire for the system to intelligently prune outliers and fill surface holes. Much can be achieved by capturing data from multiple perspectives, but that data must be rationalized.

[2017-01-13 15:55] phvass commented on #114
Tentatively assigning to Victor

[2017-01-13 16:04] phvass commented on #109
Hope to assign to Matt West and team.

[2017-01-13 16:06] phvass commented on #108
Hoping to assign to Matt West and team.

[2017-01-13 16:08] phvass commented on #105
Assuming this was just an installation issue... Closing.

[2017-01-13 16:08] #105 closed

[2017-01-13 16:09] phvass commented on #104
No issue reported. Closing.

[2017-01-13 16:09] #104 closed

[2017-01-13 16:32] phvass commented on #96
Intend to assign to Alex Goins

[2017-01-13 16:36] phvass commented on #88
If there is time.

[2017-01-13 16:39] phvass commented on #86
Will assign to Matt West and team.

[2017-01-16 17:29] woodaaron opened #126 "Multicore Enhancement for Normal Estimation (OpenMP)"
Per the [PCL Normal Estimation Tutorial](http://pointclouds.org/documentation/tutorials/normal_estimation.php),
We can speed up the normal estimation process on multicore systems by using the OpenMP implementation of NormalEstimation. This might be useful in the godel surface segmentation library.

[2017-01-16 18:26] shaun-edwards commented on #126
Since the API is the same, seems like a no-brainer ;)  Good find!

Glad to see you working on this @woodaaron.

[2017-01-16 18:30] gavanderhoorn commented on #126
Something to consider: without some rate limiting / setup, OpenMP can easily saturate all the cores on a machine, especially with parallel for-loops and similar constructs.

[2017-01-17 16:38] Jmeyer1292 commented on #126
I don't believe saturation is an issue here. We don't run anything time sensitive in parallel with this operation.

[2017-01-17 16:40] gavanderhoorn commented on #126
You might not now. I just believe it makes sense to think ahead, and consider potential use of this code in other applications.

[2017-01-17 16:56] Jmeyer1292 commented on #126
Ok, that's fair. Still, all of the recently added code has slowed things down significantly and if @woodaaron has measured and determined this to be an important optimization point I'm still on board.

@gavanderhoorn How would you deal with the saturation issues you mentioned? Control the size of the thread pool via some compile time param?

[2017-01-17 17:02] gavanderhoorn commented on #126
I haven't looked at the approach that PCL uses, but there are multiple ways. One is [OMP_NUM_THREADS](https://gcc.gnu.org/onlinedocs/libgomp/OMP_005fNUM_005fTHREADS.html#OMP_005fNUM_005fTHREADS), another would be [omp_set_num_threads(..)](https://gcc.gnu.org/onlinedocs/libgomp/omp_005fset_005fnum_005fthreads.html#omp_005fset_005fnum_005fthreads).

If not configured otherwise, OpenMP will use `OMP_

[2017-01-17 18:53] woodaaron commented on #126
pcl::NormalEstimationOMP has a [setNumberOfThreads](http://docs.pointclouds.org/1.7.0/classpcl_1_1_normal_estimation_o_m_p.html#a88d42957ef34d3aeaf51dde07c53688d) function we could use.

Does OpenMP's [omp_set_dynamic](https://msdn.microsoft.com/en-us/library/3aw0bk98.aspx) take care of this issue for us? I'm a little confused how we would _a priori_ adjust for a user's unique use_case. Provide a

[2017-01-18 05:54] Jmeyer1292 opened #132 "Laser QA Planning and Implementation"
- Incorporate any QA code not reviewed as part of the last round of inputs
- Get scan motion planning working again
- Prepare for the integration of 3rd party analysis tools

[2017-01-18 06:02] Jmeyer1292 opened #133 "Document Our "Hardware" Interfaces"
The Godel project requires that a workcell which wishes to use define the following:
 - An input, point-cloud data source (`sensor_point_cloud`)
 - A set of particular frames that must be present in a XACRO and identified via config parameters:
   - Camera frame
   - Sanding disk frame
   - QA scanner frame
 - `moveit` move-groups associated with the above frames
 - [A source of laser profiles?]

[2017-01-18 06:04] Jmeyer1292 opened #134 "Fixed Orientation of Surface Normals and Edge Normals"
Poses generated as waypoints for the robot tool currently have a "forced" common normal. For handling sloping surfaces, this is clearly not ideal.

Normals were forced to deal with noise in the data that caused unpleasant robot motion.

[2017-01-18 06:09] Jmeyer1292 opened #135 "General Cleanup of Code and Documentation of API in Surface Segmentation"
This follows the various little comments made in my review of PR #123. Most are small items pertaining to style or efficiency.

[2017-01-18 10:54] VictorLamoine commented on #114
2 good news:
- We have bought two profilometers (LJ-V7200 / LJ-V7080)
![materiel recu](https://cloud.githubusercontent.com/assets/5566160/22061305/a46ec812-dd74-11e6-9d0b-4675f0ba9148.jpg)
- We receive a Fanuc M-710iC/50 robot that I will able to use next week

I don't think I'll be able to start working on this before mid/end February

[2017-01-18 19:36] phvass commented on #114
Nice! Envious of the fact that you have two to choose from ;)

[2017-01-18 23:16] Jmeyer1292 commented on #126
Addressed in #129

[2017-01-18 23:16] #126 closed

[2017-01-20 20:46] Jmeyer1292 opened #138 "Sporadic Crashing in Godel Blending UI on Kinetic"
I imagine this symptom has several causes, but @woodaaron I know you said that there was some environmental variable that prevented one class of crashes. Could you please make a PR that adds this information to the documentation of `kinetic-devel`?

[2017-01-26 15:26] Jmeyer1292 opened #144 "Instructions for Running Ensenso"
We should add some instructions for building and running with an Ensenso camera.

[2017-01-26 18:24] Jmeyer1292 commented on #144
This includes:
 - Installing ensenso and ueye drivers
 - Installing PCL 1.8 from source
 - Configuring the ensenso ethernet interface
 - Grabbing an appropriate ensenso ROS driver

[2017-01-27 15:45] Jmeyer1292 commented on #110
With #123 and subsequent PRs we have made a lot of progress toward this goal.

We still need:
 - Edge inspection routines
 - GUI integration (into the simple-gui?)
 - Some refinements to edge joint planning to control for things like the density of boundary points, noise in the data, and any process adjustments (such as a tool angle) we might need.

[2017-01-27 16:07] Jmeyer1292 commented on #138
Addressed by PR #141

[2017-01-27 16:07] #138 closed

[2017-01-30 19:58] woodaaron commented on #106
Incorporated as of #121

[2017-01-30 19:58] #106 closed

[2017-01-31 16:21] woodaaron commented on #87
@Jmeyer1292 what parameters are you referring to? Pressing the "Admin Options" button gives access to scan, surface, blend, and QA configuration parameters.

[2017-02-03 19:32] woodaaron opened #147 "Instructions for Keyence"
#142 incorporated keyence_experimental and relies on the install-libsocket++.sh script. @Jmeyer1292 , we should include instructions to run the script when setting up the Godel project. Failure to do so will lead to a build error

`fatal error: libsocket/inetclientstream.hpp: No such file or directory`

I didn't notice it when reviewing the pull request as the machine I was working on already had

[2017-02-03 20:31] Jmeyer1292 commented on #147
Good idea. Sorry I overlooked it as well. I'll make a PR that indicates the new requirement.

[2017-02-03 20:31] gavanderhoorn commented on #147
If I may suggest: build the library once on a clean install (or a Docker container) and use `checkinstall` to create a `.deb`. Then distribute that.

Installing things from sources is never nice on systems that are managed by a package manager.

Alternatively: perhaps @Levi-Armstrong can help you set up a PPA and to create a proper `.deb`. That would significantly ease deployment.

[2017-02-03 20:33] Jmeyer1292 commented on #147
@gavanderhoorn That's how I already build all of my code, so I've got the `deb`. How would distribution work (short of creating a PPA)? Would we include it in this repo or host it somewhere separately?

[2017-02-03 20:45] gavanderhoorn commented on #147
Just building it on a random install (ie: 'polluted' by normal use) is probably something to avoid.

I'm pretty sure you can't import a checkinstall deb to a PPA: there are actually quite stringent constraints on form and content of PPAs and the debs in them.

Adding it to the repository as a binary is also an option.

[2017-02-05 03:31] Levi-Armstrong commented on #147
I can set-up a ppa for installing this if you would like. It may be a good point to talk about setting up one launchpad.net account for ROS-I items like this. I could create a new account for ROS-I and create a team if you think that is better?

[2017-02-08 22:05] Jmeyer1292 commented on #147
Closed per #148. I'm not worried about the debian at this time.

[2017-02-08 22:05] #147 closed

[2017-02-09 16:10] Jmeyer1292 opened #151 "Edge Path Density"
Our edge detection code returns a pose for every single point that is considered to be on a boundary. This means, especially for point clouds assembled from multiple point clouds, that these paths are very dense. This:
 - Puts a strain on motion planning (using Descartes at least)
 - Can cause the robot (IRB2400) to dwell

We could
 - Accept the density and try to focus on improving the motion pla

[2017-02-09 16:17] Jmeyer1292 opened #152 "Path Planning Feedback"
It's important for us to provide better feedback to the user of Godel about failures to do motion planning.

I hope to add a system that reports errors from the motion planning that can be displayed to the user in a simple & helpful manner. An example might be "Point 3 is out of reach!" w/ some highlighting on what Point 3 actually is.

I plan to report the following errors:
 - Out of reach
 - In

[2017-02-13 05:39] sketchc89 commented on #151
There are a number of ways to simplify these dense paths summarized nicely in this [article](https://www.codeproject.com/Articles/114797/Polyline-Simplification). You would be losing some information about the geometry of the part, but this seems like it would be be a good trade-off to make since many machining tools can't take advantage of these very dense paths.

[2017-02-13 16:32] Jmeyer1292 commented on #151
@sketchc89 That's an awesome link.

[2017-02-13 17:16] shaun-edwards commented on #151
+1. That is awesome. The underlying library is a bit old, but I can imagine
several ROS-I uses.  It might be worth utilizing. Note the MPL license. I'm
not too familiar with that license.

On Mon, Feb 13, 2017, 10:32 AM Jonathan Meyer <notifications@github.com>
wrote:

--
Shaun Edwards

[2017-02-13 18:16] sketchc89 commented on #151
MPL is [Mozilla Public License](https://www.mozilla.org/en-US/MPL/2.0/FAQ/). It's in between GPL and MIT/BSD. You need to distribute source of modified MPL code but not the projects that contain that code (not a lawyer).

[2017-02-16 19:44] phvass opened #154 "GUI Blocks while processing features"
Desire to return features (surfaces or edges) as they become available.

[2017-02-16 19:48] phvass opened #155 "Test read me install instructions"
Test read me install instructions

[2017-02-16 19:55] phvass opened #156 "Test alt mesh generator"
Use new plug-in architecture to test alternative mesh generators.

[2017-02-16 20:01] phvass commented on #113
@Jmeyer1292 to submit a PR. Requesting review from @gavanderhoorn .

[2017-02-16 20:06] phvass commented on #135
Low priority, but nice to have

[2017-02-16 20:08] phvass commented on #134
@woodaaron to submit a PR for this

[2017-02-16 20:13] phvass commented on #47
System currently works as-is. This is a nice-to-have for the current project.

[2017-02-16 20:30] phvass commented on #96
Will be closed when #111 is merged

[2017-02-16 20:30] #96 closed

[2017-02-17 14:52] phvass opened #158 "Re-integrate with Simple GUI"
Currently, we run with the admin GUI, but the simple GUI is no loger compatible. Re-integration is needed.

[2017-02-17 14:53] phvass commented on #110
Edge inspection is not in-scope for the M4 FTP. Simple-GUI integration is already captured in issue #158.

[2017-02-17 14:53] #110 closed

[2017-02-17 20:56] phvass commented on #95
Is this issue still applicable @Jmeyer1292 ?

[2017-02-17 20:58] phvass commented on #83
@woodaaron is this fixed?

[2017-02-17 21:00] phvass commented on #84
Seems related to #152. Should we combine?

[2017-02-22 22:32] Jmeyer1292 opened #162 "Godel Build Instructions"
The current instructions and automated build testing are failing because of a change to Keyence experimental [1] that needs to be reflected in this repository.

@AustinDeric Please have a look.

[1] https://github.com/ros-industrial/keyence_experimental/pull/17

[2017-02-23 14:06] AustinDeric opened #164 "Dynamically Load Plugins via GUI"
Add to the GUI, the ability to dynamically select which plugins are used.

Currently, changing plugins are is achieved using the ROS parameter server and plugins are initially slected using godel_robots/abb/godel_irb2400/godel_irb2400_support/config/plugins.yaml.

This issue reflects the dialog from PR #160.

[2017-02-27 19:34] woodaaron commented on #134
For edges, I believe this issue was corrected as part of pull request #153.

[2017-02-27 21:34] woodaaron commented on #154
Merged in #161

[2017-02-27 21:34] #154 closed

[2017-02-28 17:35] #162 closed

[2017-03-01 21:22] woodaaron opened #171 "Surface segmentation failure leads to crash"
When no segments can be created from a scan, the surface blending service node crashes.

I haven't tested, but this should be reproducible in simulation if your surface clouds are all less than the `MIN_CLUSTER_SIZE` constant from
`godel/godel_surface_detection/include/detection/segmentation/surface_segmentation.h`

[2017-03-01 21:32] woodaaron opened #172 "Segmentation and Region Growing parameterization"
Some parameters for surface segmentation and region growing are currently hard-coded constants or "magic" numbers. These should be parameterized for modification at runtime.

In particular, min/max cluster size, number of neighbors, and the region growing arguments from [computeSegments](https://github.com/ros-industrial-consortium/godel/blob/kinetic-devel/godel_surface_detection/src/segmentation/

[2017-03-02 16:31] woodaaron opened #176 "Collision Checking on Path Segment Transitions"
Need to check for collisions when transitioning between path segments. The current method is to retract from the surface to a "safe traversal height" and allow interpolated joint motion to the start of the next segment. On curved surfaces, this may lead to an unintended collision with the workpiece.

[2017-03-02 18:58] phvass commented on #114
Any update on this @VictorLamoine ?

[2017-03-02 19:10] #171 closed

[2017-03-02 21:08] woodaaron commented on #158
Addressed in PR #161

[2017-03-02 21:08] #158 closed

[2017-03-02 21:09] #134 closed

[2017-03-02 21:10] woodaaron opened #178 "Edge path orientation needs filtering"
Edge normals may locally vary significantly. This in turn can cause edge-path planning to fail.

[2017-03-02 23:20] phvass commented on #117
Crashing issue not occurring on Automate Demo computer. Changed milestones.

[2017-03-03 00:03] phvass commented on #111
This first item on the list is now tracked by #119 . The second item is already implicit in the curved surface segmentation process. Closing this issue.

[2017-03-03 00:03] #111 closed

[2017-03-03 08:15] VictorLamoine commented on #114
I've just created an issue there:
https://github.com/ros-industrial/industrial_calibration/issues/95

[2017-03-07 15:24] phvass opened #186 "Add exclusion zone to ABB robot code"

[2017-03-08 14:24] AustinDeric commented on #155
I went through the README and it works for me.  I think travis has very similar build steps since #163, so that may be a more permanent solution.  Before #163 there were some additional install scripts and steps but now its a very simple process which travis also performs.

[2017-03-09 15:56] #151 closed

[2017-03-09 16:37] Levi-Armstrong commented on #186
A wiki has been created showing how to create ABB Work Zones [here](https://github.com/ros-industrial-consortium/godel/wiki/Create-ABB-Work-Zones).

[2017-03-09 19:18] Jmeyer1292 commented on #151
Note that edge path density is now controlled by the voxelization of input clouds. There's a 1.5mm spacing now, but this is still quite small. Our edge paths are 10x the density of the other paths. If in the future we encounter dwelling or we want to speed up motion planning, this may be relevant.

[2017-03-14 16:45] woodaaron opened #195 "Blocking service calls should be converted to actions"
In particular, the blend process executor will block if we request it wait for execution to complete. If it blocks, we are unable to watch the robot model operate on the piece. If we do not wait for execution we have no feedback on when the process is complete (from a code perspective; we can still watch it on the model).

[2017-03-17 19:35] phvass commented on #186
Now that the cell is hooked up, can @Levi-Armstrong add the zones?

[2017-03-21 14:51] AustinDeric commented on #87
Done

[2017-03-21 14:51] #87 closed

[2017-03-21 14:56] Jmeyer1292 commented on #176
Addressed by #179

[2017-03-21 14:56] #176 closed

[2017-03-21 14:57] Jmeyer1292 commented on #178
Nominally addressed by #192

[2017-03-21 14:58] #178 closed

[2017-03-21 22:15] phvass opened #203 "Assign a single surface normal direction when a surface is flat"
To stabilize the normal vector for flat parts, assign a single normal for surfaces that are flat.

[2017-03-22 14:55] jrgnicho opened #204 "Fails to simulate process path"
This happened after merging pr #200,
Basically, after generating the three process paths for a single point cloud, clicking the "Next" button on the simple GUI fails to run the simulation.  The console output at this point is the following:
[code]

The demo launch file I ran is the following:
[code]

[2017-03-22 21:30] Jmeyer1292 opened #208 "Crazy Wrist Flips When Macro-Scanning"
Robot moves through the correct poses, but does not choose the "obvious" or "close" ik solutions for these points. Solution is likely do our own IK and instruct the robot to perform joint moves.

[2017-03-22 21:33] Jmeyer1292 opened #209 ""Automated" Mode"
We'd like to be able to run the system in a fully automated mode where it scans the cell, segments surfaces, and executes paths without operator intervention. We could do this through user interface automation or through adding a capability to the GUI "backend".

[2017-03-22 21:38] Jmeyer1292 opened #210 "Edge and Surface Wobble Smoothing"
We still need to be better about surface and boundary normal estimation.

[2017-03-23 09:38] #156 closed

[2017-03-23 10:20] phvass opened #211 "Stop the ATI Spindle when light curtain is interrupted"
Currently, when the light curtain is interrupted the robot pauses, but spindle keeps spinning. We desire to shut off the spindle rotation when the light curtain is interrupted.

[2017-03-23 14:42] phvass commented on #195
Austin to review and merge.

[2017-03-23 14:44] phvass commented on #186
@Jmeyer1292 to implement today

[2017-03-23 19:12] #211 closed

[2017-03-24 15:35] phvass opened #218 "Add Keyence connector to collision model"
Had a close call yesterday...

[2017-04-14 15:18] Jmeyer1292 opened #225 "Simple GUI Multiple Plan Selection"
Clicking through the simple GUI allows the selection of one plan out of the many that were generated. Doing another requires resetting.

[2017-05-10 18:33] #186 closed

[2017-05-10 18:34] Jmeyer1292 commented on #203
Implemented in https://github.com/ros-industrial-consortium/godel/pull/214

[2017-05-10 18:34] #203 closed

[2017-05-10 18:38] Jmeyer1292 commented on #195
Addressed (for planning at least) in https://github.com/ros-industrial-consortium/godel/pull/200

[2017-05-10 18:38] #195 closed

[2017-05-10 18:40] #155 closed

[2017-05-10 18:42] #113 closed

[2017-07-03 09:30] JoePolden opened #233 "problems linking noether libraries?"
There seems to be some issue related to linking the vtk_viewer library to the godel_noether package. When I clone/build/link the noether meshing plugins into the godel workspace (following the instructions in the readme), i get the following errors when when I run the most generic demo:

	roslaunch godel_irb2400_support irb2400_blending.launch

results in:

	[ INFO] [1499073092.429216427]: Initial

[2017-07-05 02:27] akgoins commented on #233
Do you have pcl_ros and pcl_conversions in your work space and are they set to compile against PCL 1.8?  If you have already done this, you could try to compile PCL in release mode.  I have found that there are other run time issues with PCL and compiling in release mode usually fixes these.

[2017-07-05 09:24] j-polden commented on #233
Thanks for the comment, but unfortunately these do not seem to resolve the issue. Additionally, I am not convinced that the issue relates with PCL, but VTK rather, since the errors only come when accessing vtkPolyData objects passed from NoetherPathPlanner::generatePath() function into the vtk_viewer library.

Frustratingly, though, these errors do not occur when,  in the same workspace, passing t

[2017-07-05 18:08] akgoins commented on #233
Okay, I thought that PCL was the problem, since pcl_ros is a wrapper around PCL 1.7 (Ubuntu 16.04/kinetic), which uses VTK 6.2.  If you include pcl_ros and the Noether library, your catkin workspace is now trying to include VTK 6.2 and 7.1.  Thus, the noether library would work with itself, because it uses VTK 7.1 and does not depend on pcl_ros.  The Godel packages, however, include pcl_ros, which

[2017-07-05 18:12] AustinDeric commented on #233
Please note that we have docker images which can help in this case to standardize environments.  Y'all might want to look at debugging using this docker images:
https://hub.docker.com/r/rosindustrial/noether/

[2017-07-05 18:25] Jmeyer1292 commented on #233
@akgoins if that's a bug in `godel_noether` then it's a bug in [noether](https://github.com/ros-industrial/noether/blob/master/noether/src/noether.cpp#L187) as well. Admittedly, the whole "normals" situation is all kinds of messed up here, but the first call is generating normals from a point cloud of mesh vertices. The second call takes those point normals and computes `cell` (face?) normals.

[2017-07-06 01:09] j-polden commented on #233
You could well be onto something here. I will explore this more. Thanks for the explanation.

Definitely will do. Thanks!

[2017-07-07 21:07] mitch1044444 opened #234 "run into problems compiling godel"
Hey all,

I want to learn from your milestone 3 project. I followed your instruction to clone and compile, I can't use catkin build, it would give error "Could not find a package configuration file provided by "manipulation_msgs"
".

I tied catkin_make_isolated , and everything, and again.
`<== Failed to process package 'godel_process_execution':
  Command '['/home/drpslab/scann1/devel_isolated/sw

[2017-07-08 02:54] geoffreychiou commented on #234
Do you have manipulation_msgs installed?

I believe milestone 3 is running on indigo so the command is:
[code]

[2017-07-08 03:56] Thompson104 commented on #234
Thank you for your reply. I just checked the indigo version and it works well.

Thank you so much for your efforts.

[2017-07-12 18:41] Thompson104 opened #236 "questions on how to generate "godel" trejectory"
Hey all,

I'm not sure if this is the right place to ask this question. I wonder if you could provide some sample code or tutorial on how to generate similar trajectory like this

![image](https://user-images.githubusercontent.com/28070085/28134118-9afc56e2-6707-11e7-8a4d-356c313bac31.png)

I checked your code but it is not that user friendly, I guess it's my problem. But I guess a good document w

[2017-07-12 22:57] Jmeyer1292 commented on #236
Yeah...

We used an external library to do this: https://github.com/aewallin/openvoronoi. I don't know too many of the details, but could point you to the right code if you need it.

[2017-07-13 02:36] ghost commented on #236
@Jmeyer1292 I'm actually a graduate student in mechanical engineering. I knew openvoronoi and I just don't know how to use this library :).

Could you provide some suggestions on how to get a surface from PCL and then generate this kind of trajectory?  Or is there any library similar to openvoronoi that is not too difficult to understand?

[2017-07-31 04:09] j-polden commented on #233
I recently revisited this issue and did a bit of tinkering and it turns out this comment from akgoins was 100% spot on the money. So I guess we can close this issue. Thanks so much for your input.

For those who are experiencing similar problems with the `godel_noether` library. I resolved the issue by cloning the `perception_pcl` (kinetic-devel branch) and `pcl_conversions` packages into my works

[2017-09-28 14:28] oriolorra opened #237 "surface_blending_service HAS DIED"
Hi

I am trying to execute:

roslaunch godel_irb400_support irb2400_blending.launch

Seems that everything is working fine, but when I click NEXT, the surface_blending_service dies.

[ INFO] [1506608522.209167398]: TrajectoryExecution will use old service capability.
[ INFO] [1506608522.209320513]: Ready to take MoveGroup commands for group manipulator_asus.
[ INFO] [1506608522.214329036]: Surface

[2018-05-24 22:44] trent-weiss opened #241 "Compile Error"
Hi Guys!

  I am having some trouble compiling the godel code... I get a compile error in generate_motion_plan.cpp saying:
``
[code]

Also note I compiled Descartes from source on the kinetic-devel branch.

Has anyone else had this issue/know how to fix it?

Thanks,
Trent

[2018-05-24 22:46] Jmeyer1292 commented on #241
Use the following branch of Descartes (sorry)
https://github.com/ros-industrial-consortium/descartes/tree/godel_refactor_omp

[2018-05-25 12:21] trent-weiss commented on #241
that seems to fix the compile issue, so I'll go ahead and close this.

But it seems like a bad idea to have two divergent branches of descartes serving two different purposes in the same repo...

[2018-05-25 12:21] #241 closed

[2018-07-14 14:05] xiaochaizi opened #243 "provide some relevant papers for study"
Robotic Blending Milestone is a very cool project, . I have a strong interest in this project and want to know more about it. but did not find some effective  information paper about this project except code. could you please provide some relevant papers for study?

[2018-09-12 22:22] melvinma commented on #237
I am new to this one. But it appears that exit code -11 means out of memory in my other use case.

[2018-09-13 16:55] melvinma opened #244 "Status of Godel Project?"
It appears that this project has been inactive for half a year now. Could someone summarize what is going on? Milestone 4 achieved and no further plan? Anything else a new comer needs to know? Thanks.

[2018-09-13 18:49] melvinma opened #245 "Duplicated libsocket ..."
There might be an easy solution to this one. I am just new to C++/Make.

So in Ubuntu 16.04, when building Gobel, I got the following error. It appears that I have two copies of libsocket in the system: one from (indirectly) source download from Gobel and the other from Perl installation. I could not uninstall Perl because that will also uninstall many ROS  packages. When I tried to delete libsock

[2018-09-15 16:30] melvinma commented on #245
Since there are no activities in this project for a while. I will just leave my half baked solution here. This is not definitive solution yet. But somehow it seems work **occassionally**.

After downloading the keyence_experimental, I manually did the following before "catkin build"

[code]
With CONFIG, the second build seems successful - even though the first build will still fail. :)

[2018-09-15 16:46] melvinma commented on #244
This is how I was able to successfully compile this code. I have NOT thoroughly test the codes yet.

- as [previously mentioned "Duplicate Libsocket"](https://github.com/ros-industrial-consortium/godel/issues/245) , there needs a small change to avoid conflict with libsocket++ installed in OS;
- Switch Descartes

[code]

- need to change at least two files because of Descartes change in the new so

[2018-09-19 17:10] robinsonmm commented on #244
Thanks for your inquiry. Godel is still of interest and we are working scope and interested parties for M5. We are also pointing other parties to this repository for additional leverage, so hopefully something will happen on that front. Unfortunately we cannot be very deterministic on timing, but rest assured, things are happening!

[2019-02-19 19:04] DanWilly opened #246 "Broken link in instructions"
Hey,

I just found this project and find it very interesting. I was trying to follow the instructions to run the simulation, sadly the link to the point cloud does not work anymore. Is that point cloud still available somewhere?

Details:
This XML file does not appear to have any style information associated with it. The document tree is shown below.

<Error><Code>AllAccessDisabled</Code><Message>

[2019-05-15 15:00] jrgnicho commented on #246
It looks like the aws instance that holds those files has been permanently removed.

[2019-05-15 15:06] gavanderhoorn commented on #246
@jrgnicho: only disabled or has the bucket actually been removed / taken down?

[2020-01-24 11:12] shobhitcito opened #247 "Compilation error for catkin_make?"
Error:

CMake Error at /opt/ros/kinetic/share/catkin/cmake/catkin_workspace.cmake:95 (message):
  This workspace contains non-catkin packages in it, and catkin cannot build
  a non-homogeneous workspace without isolation.  Try the
  'catkin_make_isolated' command instead.
Call Stack (most recent call first):
  CMakeLists.txt:67 (catkin_workspace)

-- Configuring incomplete, errors occurred!
See al

[2020-01-28 17:22] AustinDeric commented on #247
I'll try to reprodice this error, see PR #248.

with that said, it does appear there is an error here:
[code]

---

it looks like i had a different error though:
[code]

[2020-01-30 14:36] shobhitcito commented on #247
@AustinDeric  thanks for looking into it

I am still not able to resolve the problem. I tried to go through the issues faced by other users and it hasn't helped me yet.

What should I do now? Thank you very much for helping out.

[2020-03-31 17:27] wilcobonestroo commented on #244
We are also interested in the status of this project. Based on the activity in the repo, it looks like there aren't people working on this any more. Based on the messages above from @melvinma , we were able to build the project. We might want to use it in a ROS training. However, we would like to use ROS Melodic for that. Are there plans to port the project to Melodic?

[2020-04-06 12:17] gavanderhoorn commented on #244
I'm not aware of any direct plans to port it to Melodic as of today.

However, several forks seem to include the necessary changes already.

If you're after seeing what changes would be necessary, comparing those forks with this repository would seem sufficient.

If you're wondering whether `godel` will see future development (ie; is not a 'dead project'), that I can't say at this point in time.

[2020-05-02 16:36] sumr4693 commented on #247
Hi, was anyone able to resolve the above issue when doing 'catkin_make_isolated'? I am facing the same issue. But I am using ROS Melodic..

Thanks in advance!

[2020-08-09 22:00] shakthi-balan commented on #247
I am facing the exact same issue as above and I am using ROS melodic. Could anyone please solve this issue.

[2020-08-10 01:23] AnsunWu opened #250 "Hoping to get the ''godel point cloud data.zip'' ."
Hello,

I'm a newbie of this project and eager to do some deep-dive learning on this project.
I just downloaded all document and build the code, it seems everything is ok.

But when I tried to download the **godel point cloud data.zip** file form this link [https://s3-us-west-2.amazonaws.com/godelscanfiles/godel_point_cloud_data.zip](url)

**It seems like the web link is down ('NoSuchBucket')... C

[2021-06-02 12:38] kvnptl commented on #247
I am also facing the same error on ROS Melodic

[2021-06-03 07:15] kvnptl opened #252 "Anybody able to accomplish the "Scan and Polish" task using this package?"
As I can see there is no update on this package since 2018. So, I am wondering whether the godel package is still working fine as shown in the GIF demo file.

[2021-06-03 12:44] kvnptl commented on #247
At least after some debugging, godel packages are now building without any errors (still few warnings are there) on my system (ROS Melodic).

I'll try to list out few changes/resolutions here:
1. Use `catkin build` tools instead of `catkin_make` or anything else. (delete build and devel, if you already built the package with `catkin_make`)
2. Replace `boost` with `std` in IKFastPlugin : https://gi

[2021-06-03 13:46] gavanderhoorn commented on #247
Looking at forks of a repository is always very worthwhile.

The [tecnalia-advancedmanufacturing-robotics/godel](https://github.com/tecnalia-advancedmanufacturing-robotics/godel) and [sam-xl/godel](https://github.com/sam-xl/godel) forks seem to have resolved many (if not all) of the issues you found.

[2021-08-06 06:27] dbdxnuliba opened #253 "cannot open url https://s3-us-west-2.amazonaws.com/godelscanfiles/godel_point_cloud_data.zip"
can you provide a valid link for godel_point_cloud_data.zip

[2021-08-09 06:54] dbdxnuliba opened #254 "godel produce robot-collison trajectory with env"
![image](https://user-images.githubusercontent.com/13350158/128669111-bf3cc804-525d-4c4b-be0b-41937d2c0f62.png)
godel produce robot-collison trajectory with env .

I add moveit_msgs::CollisionObject  at surface_blending_service.cpp
  and  roslaunch godel_irb2400_support irb2400_blending.launch real_pcd:=true

pcd_location:=/home/ws_catkin/src/meshes/raw_mesh_modify.pcd

void loadCollisonEnv(moveit

[2021-10-18 03:31] hustRobot1 commented on #250
Hello, have you found the website where the case point cloud is stored? Thank you

[2021-10-18 03:32] hustRobot1 commented on #253
Hello, have you found the website where the case point cloud is stored? Thank you

[2021-11-11 08:38] dbdxnuliba commented on #253
sorry ,I haven't find it

[2022-07-15 09:01] qcz01 opened #255 "abb package build failed"
jet@jet-virtual-machine:~/catkin_ws$ catkin build
--------------------------------------------------------
Profile:                     default
Extending:             [env] /opt/ros/melodic
Workspace:                   /home/jet/catkin_ws
--------------------------------------------------------
Build Space:        [exists] /home/jet/catkin_ws/build
Devel Space:        [exists] /home/jet/catkin_ws/

[2022-07-15 09:03] qcz01 commented on #255
jet@jet-virtual-machine:~/catkin_ws$ source ~/catkin_ws/devel/setup.bash
jet@jet-virtual-machine:~/catkin_ws$ roslaunch snp_prbt_bringup application_bringup.launch
RLException: [application_bringup.launch] is neither a launch file in package [snp_prbt_bringup] nor is [snp_prbt_bringup] a launch file name
The traceback for the exception was written to the log file
jet@jet-virtual-machine:~/catkin_w